<!-- (*) assigned classes -->

<!-- *class view-login / background color -->
<ion-modal-view class="view-map">
  <ion-content>
    <!-- *class logo / logo company or app -->
    <div class="button-bar">
      <a class="button" ng-click="closeMonitor()">
        关闭
      </a>
    </div>

    <!--<iframe-->
    <!--style="height:100vh;width:100vw;" src="./monitor.html"></iframe>-->
    <iframe
      style="height:100vh;width:100vw;" src="./monitor2.html"></iframe>
  </ion-content>
</ion-modal-view>
