<!-- (*) assigned classes -->

<ion-view view-title="通知">
  <!--<ion-nav-buttons side="right">-->
    <!--<button class="button button-icon icon ion-ios-plus-empty" ng-click="infoApp()"></button>-->
  <!--</ion-nav-buttons>-->
  <ion-content>
    <!-- list card -->
    <div class="list card">
      <div class="item item-avatar item-icon-right">
        <img src="img/logo.png">
        <h2>司机</h2>
        <!--<p class="icon-p">-->
        <!--<i class="icon ion-ios-clock-outline"></i>-->
        <!--</p>-->
        <p>京B4195</p>
      </div>
      <div class="item item-body">
        <p>
          您的孩子 张小小 已经安全到达学校.
        </p>
        <p>
          <a href="#" class="subdued">
            15分钟前
          </a>
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-avatar item-icon-right">
        <img src="img/logo.png">
        <h2>乘务员</h2>
        <!--<p class="icon-p">-->
        <!--<i class="icon ion-ios-clock-outline"></i>-->
        <!--</p>-->
        <p>京B4195</p>
      </div>
      <div class="item item-body">
        <p>
          您的孩子 张小小 已经安全上车.
        </p>
        <p>
          <a href="#" class="subdued">
            49分钟前
          </a>
        </p>
      </div>
    </div>

  </ion-content>
</ion-view>
